.contentContacto{
    margin: 15px;
}

.contacText{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.contacTitle {
    font-size: 56px;
    font-weight: 800;
    margin-bottom: 20px;
    
    color: #348fde;
}


.contacDescrip{
    text-align: justify;
    font-size: 26px;
}


.contact-points{
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.contact-point-title{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 30px;
    text-align: center;
}

.contact-point-text{
    font-size: 20px;
    font-weight: 200;
}

.contact-form{
    display: flex;   
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contact-label--form{
    font-size: 20px;
    display: inline-block;
    margin-top: 1em;
}

input, textarea{
    margin-top: 2px;
    align-items: center;
    border: none;
    width: 100%;
    padding: 12px;
    resize: vertical;
}

textarea {
    height: 150px;
}


.submit-contact-form{
    margin-left: 1em;
    margin-right: 1em;
    color: white;
    background-color: #348fde;
    border:none;
    margin-top: 1em;
    font-size: 20px;
}

